.banner-pad {
  padding-top: 160px;
  padding-bottom: 80px;
}

.banBg {
  background-color: rgba(255, 255, 255, 0.02);
}

.text-dark {
  color: #010101 !important;
}

.text-white {
  color: #fff;
}

.op-8 {
  opacity: 0.8;
}

.op-6 {
  opacity: 0.6;
}

.mtMad {
  margin-top: 90px;
}
@media (max-width: 990px) {
  .mtMad {
    margin-top: 50px;
  }
}

.mbMad {
  margin-bottom: 80px;
}

.pyPad {
  padding: 95px 0;
}
@media (max-width: 1200px) {
  .pyPad {
    padding: 85px 0;
  }
}
@media (max-width: 992px) {
  .pyPad {
    padding: 75px 0;
  }
}
@media (max-width: 767px) {
  .pyPad {
    padding: 65px 0;
  }
}
@media (max-width: 575px) {
  .pyPad {
    padding: 50px 0;
  }
}

.ptPad {
  padding-top: 95px;
}
@media (max-width: 1200px) {
  .ptPad {
    padding-top: 85px;
  }
}
@media (max-width: 992px) {
  .ptPad {
    padding-top: 75px;
  }
}
@media (max-width: 767px) {
  .ptPad {
    padding-top: 65px;
  }
}
@media (max-width: 575px) {
  .ptPad {
    padding-top: 50px;
  }
}

.pbPad {
  padding-bottom: 95px;
}
@media (max-width: 1200px) {
  .pbPad {
    padding-bottom: 85px;
  }
}
@media (max-width: 992px) {
  .pbPad {
    padding-bottom: 75px;
  }
}
@media (max-width: 767px) {
  .pbPad {
    padding-bottom: 65px;
  }
}
@media (max-width: 575px) {
  .pbPad {
    padding-bottom: 50px;
  }
}

.gridPad {
  padding-bottom: calc(95px - 30px);
}
@media (max-width: 1200px) {
  .gridPad {
    padding-bottom: calc(85px - 30px);
  }
}
@media (max-width: 992px) {
  .gridPad {
    padding-bottom: calc(75px - 30px);
  }
}
@media (max-width: 767px) {
  .gridPad {
    padding-bottom: calc(65px - 30px);
  }
}
@media (max-width: 575px) {
  .gridPad {
    padding-bottom: calc(50px - 30px);
  }
}

.grid-spc {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: -30px !important;
}

.ptn-30 {
  padding-top: -30px !important;
}

.mtn-30 {
  margin-top: -30px !important;
}

.pbn-30 {
  padding-bottom: -30px !important;
}

.mbn-30 {
  margin-bottom: -30px !important;
}

.heading-wrap {
  margin-bottom: 70px;
}

.content-grid {
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .content-grid {
    margin-bottom: 40px;
  }
}
@media (max-width: 992px) {
  .content-grid {
    margin-bottom: 30px;
  }
}
.content-grid:last-child {
  margin-bottom: 0;
}

.benefits-grid {
  border: 1px solid #fff;
  margin-right: -1px;
  margin-bottom: -1px;
}

.products-grid:last-child {
  margin-bottom: 0px;
}